<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--	<bean id="A" class="com.lq.test.entity.A">-->
<!--		<property name="name" value="linqian"></property>-->
<!--		<property name="age" value="12"></property>-->
<!--	</bean>-->

	<aop:aspectj-autoproxy/>
	<bean id="testSequence" name="testSequence" class="com.lq.circulardependency.aop.testSequence" init-method="init"/>
	<bean class="com.lq.circulardependency.aop.MyBeanPostProcessor"></bean>

</beans>
